<div class="modal fade" id="paypalModal" tabindex="-1" aria-labelledby="paypalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="paypalModalLabel">Pay with PayPal</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid px-4">
                    <div class="row">
                        <div class="col"><img style="width:10rem;height:auto;" src="/static/img/paypal.jpg">
                        </div>
                        <div class="col my-auto">To pay your invoice with PayPal, scan the QR code with the
                            PayPal app or use <a href="https://paypal.me/ontimecourierstx" target="_blank"
                                rel="noopener noreferrer">PayPal.me</a>.</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                    onclick="window.open('https://paypal.me/ontimecourierstx', '_blank', 'noopener,noreferrer'); return false"
                    data-bs-dismiss="modal" class="btn btn-primary">
                    Pay with PayPal <i class="bi bi-arrow-up-right-circle"></i>
                </button>
            </div>
        </div>
    </div>
</div>