<div class="modal fade" id="zelleModal" tabindex="-1" aria-labelledby="zelleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="zelleModalLabel">Pay with Zelle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                To pay your invoice with Zelle, send your payment to <b>office@ontimecouriers.com</b> using your
                bank's app or website.
                If your bank does not offer Zelle, try using the Zelle app.
            </div>
            <div class="modal-footer">
                <button type="button"
                    onclick="window.open('https://www.zellepay.com/how-it-works', '_blank', 'noopener,noreferrer'); return false"
                    data-bs-dismiss="modal" class="btn btn-secondary">
                    Learn more <i class="bi bi-arrow-up-right-circle"></i>
                </button>
                <button type="button"
                    onclick="window.open('https://www.zellepay.com/get-started', '_blank', 'noopener,noreferrer'); return false"
                    data-bs-dismiss="modal" class="btn btn-primary">
                    Find your bank <i class="bi bi-arrow-up-right-circle"></i>
                </button>
            </div>
        </div>
    </div>
</div>