@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root {
    --jumbotron-image: url('/static/img/max-fray-V6CQgi7Pgdc-unsplash.jpg');
    --jumbotron-gradient: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    --accent: #023B90;
}

/* Serif font for headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display', serif;
}

/* Don't want to apply the serif font in the "Live Traffic" badge */
h2 span.badge {
    font-family: var(--bs-body-font-family);
}

.dallas {
    background: var(--jumbotron-gradient), top center / cover no-repeat var(--jumbotron-image);
}

.featurette-divider {
    margin: 5rem 0;
}

.featurette-image {
    object-fit: cover;
}