<div class="text-center">
    <hr class="featurette-divider">
    <h2 class="fw-normal mt-5 mb-3 fs-3">Dallas-Fort Worth <span class="badge text-bg-info">Live Traffic</span>
    </h2>
    <div class="row">
        <div class="col">
            <div class="ratio d-none d-lg-block ratio-21x9">
                <iframe class="border rounded shadow"
                    src="https://embed.waze.com/iframe?zoom=10&lat=32.763&lon=-97.0326&ct=livemap" style="border:0;"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="ratio d-block d-lg-none ratio-1x1">
                <iframe class="border rounded shadow"
                    src="https://embed.waze.com/iframe?zoom=10&lat=32.763&lon=-97.0326&ct=livemap" style="border:0;"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>