<h4 class="fw-normal mt-5 mb-3">Location, Hours, &amp; More</h4>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-lg-12 col-xl-6">
            <p>
                <strong>Our Address</strong><br />
                <a>1700 Pacific Avenue, Suite 1040<br />Dallas, TX, 75201</a>
            </p>
            <p>
                <strong>Hours of Operation</strong><br />
                Orders can be placed 24/7<br />
                Office Open: M-F 7am to 5pm
            </p>
            <!-- <a class="btn btn-primary rounded-pill mb-3" href="">Contact Us</a> -->
        </div>
        <div class="col-6 col-lg-12 col-xl-6">
            <div class="list-group" style="text-align: left;">
                <a href="/contact" class="list-group-item list-group-item-action">
                    Contact Us <i style="float:right" class="bi bi-arrow-right-circle"></i>
                </a>
                <a href="/about" class="list-group-item list-group-item-action">
                    About Us <i style="float:right" class="bi bi-arrow-right-circle"></i>
                </a>
                <a href="#" data-bs-toggle="modal" data-bs-target="#disclaimers"
                    class="list-group-item list-group-item-action">
                    Terms and Conditions <i style="float:right" class="bi bi-arrow-right-circle"></i>
                </a>
                <a href="https://dfwtraffic.dot.state.tx.us/its" target="_blank" rel="noopener noreferrer"
                    class="list-group-item list-group-item-action">
                    TxDOT Live Traffic <i style="float:right" class="bi bi-arrow-right-circle"></i>
                </a>
            </div>
        </div>
    </div>
</div>