<div class="text-center">
    <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-3">
            <h2 class="fw-normal mt-5 mb-3 fs-3">Courier Service</h2>
            <module href="/login/courierLogin.html"></module>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
            <h2 class="fw-normal mt-5 mb-3 fs-3">Process Service</h2>
            <module href="/login/processLogin.html"></module>
        </div>
        <div class="order-first order-lg-last col-xs-12 col-lg-4 col-xl-6">
            <module href="/login/links.html"></module>
        </div>
    </div>
</div>